hibernate.connection.url=
hibernate.connection.username=
hibernate.connection.password=
hibernate.driver=com.mysql.jdbc.Driver
hibernate.show_sql=true
hibernate.hbm2ddl.auto=update
hibernate.current_session_context_class=thread
hibernate.c3p0.min_size=5
hibernate.c3p0.max_size=20
hibernate.c3p0.timeout=1800
hibernate.c3p0.max_statements=50